body {
	font-family: 'Didact Gothic', sans-serif;
}
nav {
	background-color: #aaaaaa;
	height: 90px;
}
ul {
	float:right;
}
li {
	float:left;
	list-style: none;
	text-decoration: none;
	padding: 10px 5px 19px 5px;
	margin: 0px;
}

nav a {
	float:left;
	text-decoration: none;
	color: #ffffff;
	display: block;
}

img.banner {
	display: block;
	margin:0 auto;
}

div.ranges {
	margin:0 auto;
}

h1 {
	font-size: 2em;
	padding-top: 10px;
	margin: 10px 0 0 35px;
	color: white;
}
footer {
	clear: both;
	background-color: #aaaaaa;
	margin-top: 100px;
	height: 50px;
	width: auto;
}
.ranges {
	width:960px;
}
.ranges div {
	float: left;
	font-size: 14px;
	text-align: center;
	color: #222;
	background-color: #ffffff;
	width: 33.33%;
	padding: 20px 0 0px 0;
}
#fifty {
}

#onehundred {
}

#twohundred {
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
