* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Didact Gothic', sans-serif;
}
nav {
	background-color: #aaaaaa;
	height: 90px;
}
ul {
	float:right;
}
li {
	float:left;
	list-style: none;
	text-decoration: none;
	padding: 10px 5px 19px 5px;
	margin: 0px;
}

nav a {
	float:left;
	text-decoration: none;
	color: #ffffff;
	display: block;
}
a.logo {
	font-size:4em;
}

.banner {
	display: block;
	margin:0 auto;
	max-width:1200px;
}
.banner img {
	width:100%;
}

h1 {
	font-size: 2em;
	padding-top: 10px;
	margin: 10px 0 0 35px;
	color: white;
}
footer {
	clear: both;
	background-color: #aaaaaa;
	margin-top: 100px;
	height: 50px;
	width: auto;
}
footer a {
	color:#fff;
	text-decoration:none;
}
div.ranges {
	margin:0 auto;
	max-width:1200px;
}
.ranges div {
	float: left;
	font-size: 14px;
	text-align: center;
	color: #222;
	background-color: #ffffff;
	width: 33.33%;
	padding: 20px 0 0px 0;
}
.ranges img {
	width:100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
