body {
 	background: url("Images/stripes.png") repeat-x, url("Images/background.jpg") no-repeat #52596b;
 	background-size: auto, cover;
 }
section {
	margin: 200px 0 0 60px;
}
.logo {
}

hr {
	margin-top: 20px;
	max-width: 60px;
	border-color: #FF5050;
}

p {
	font-family: sans-serif;
	color: white;
}
#btnstore {
}

