body {
 	background: url("Images/stripes.png") repeat-x, url("Images/background.jpg") no-repeat #52596b;
 	background-size: auto, cover;
 	font-family: sans-serif;
 	font-size:20px;
	color: white;
 }
section {
	margin: 250px 0 0 100px;
}
hr {
	margin: 20px 0 0 0;
	width: 60px;
	border-color: #FF5050;
}

